.alert-error, .errorlist {
    color: crimson;
}

.alert-success {
    color: green;
}

body {
    font-family: sans-serif;
}

.container .text-muted {
  margin: 20px 0;
}

.tags-box {
  text-align: right;
}

.tags-box h2 {
  margin-top: 0px;
}

.tag-item {
  display: block;
  margin: 4px;
}

.quote {
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid #333333;
  border-radius: 5px;
  box-shadow: 2px 2px 3px #333333;
}

.quote small.author {
  font-weight: bold;
  color: #3677E8;
}

.quote span.text {
  display: block;
  margin-bottom: 5px;
  font-size: large;
  font-style: italic;
}

.quote .tags {
  margin-top: 10px;
}

.tag {
  padding: 2px 5px;
  border-radius: 5px;
  color: white;
  font-size: small;
  background-color: #7CA3E6;
}

a.tag:hover {
  text-decoration: none;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6em;
  background-color: #f5f5f5;
}

.error {
  color: red;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}


.header-box {
  background-color: #ffffff;
  border-bottom: 2px solid #7CA3E6;
}

.header-box p {
  margin-top: 20px;
  float: right;
}

.author-details  {
  width: 80%;
}

.author-description {
  text-align: justify;
  margin-bottom: 20px;
}

ul.pager {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.previous, .next {
  list-style: none;
}

.pager {
  padding-left: 0;
  margin: 22px 0 100px 0;
  list-style: none;
  text-align: center;
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.pager li {
  display: flex;
  align-items: center;
}

.pager li:first-child {
  margin-right: auto;
  margin-left: 0;
}

.pager li:last-child {
  margin-right: 0;
  margin-left: auto;
}

.disabled {
  color: #333333;
  cursor: not-allowed;
}

.pager .next>a, .pager .next>span {
  float: right;
}

.pager li>a, .pager li>span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 15px;
  text-decoration: none;
}

.pager li {
  display: inline;
}

.copyright {
  text-align: center;
}

.zyte {
  color: #b02cce;
} 

textarea {
  height: 80px;
  width: 600px;
  overflow-wrap: break-word;
}

.form-select[multiple]{
  height: 150px;
}

.form-select {
  width: 250px;
}