{% extends "quotes/base.html" %}

{% block content %}

{% if messages %}
<div>
    {% for message in messages %}
    <div {% if message.tags %} class="alert-{{ message.tags }}" {% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

<div>
    <h2>Log In</h2>
</div>

<form action="{% url 'users:login' %}" method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label" for="username">Username:</label>
        {{ form.username }}
    </div>
    <div class="mb-3">
        <label class="form-label" for="password">Password:</label>
        {{ form.password }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-secondary">Reset</button>
</form>

{% endblock %}